* {
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F8F6;
    background-image:url("backimg.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.container{
    border: 2px solid rgba(255,255,255,0.3);
  
    width: 40vh;
    
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(14px);
    box-shadow: 0 8px 32px rgba(31,38,1355,0.25);
    padding: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    color: #1f2937;
}
.container h1{
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
}
form{
    padding: 1rem;
    justify-content: center;
}
form input,button{
    width:100%;
    border: none;
    border-radius: 5px;
    height: 1.5rem; 
    outline: none;
    background: rgba(255, 255, 255, 0.85);
    box-shadow:  2px 5px 20px 4px rgba(31, 38, 1355, 0.25);;
}

.selector{
    padding: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    
    
}
.amount{
    padding-top: 1rem;
    text-align: left;
    font-size: 20px;
}
.selector img{
    width:40px;
}
select{
    border: none;
    width: 100%;
    height: 1.5rem;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.85);
    box-shadow:  2px 4px 0 1px rgba(0, 0, 0, 0.08);
}
button{
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    border-radius: 20px;
    margin-top: 20px;
    color: #EFE9E3;
    height: 2rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease;
}
button:hover{
    box-shadow: 0 12px 24px rgba(37, 99, 235, 0.4);
    transform: translateY(-2px);
}
.msg{
    margin-top: 16px;
    font-weight: 600;
    color: #111827;
}
#exchange-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

#exchange-icon:hover {
  transform: rotate(180deg) scale(1.3);
}